<h2 mat-dialog-title>Add New Task</h2>
<mat-dialog-content>
    <label class="form-label">Title</label>
    <label class="form-control">{{data.title}}</label>
    <label class="form-label">Title</label>
    <label class="form-control">{{data.description}}</label>
    <label class="form-label">Priority</label>
    <label class="form-control">{{data.taskTypeName}}</label>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button color="accent" (click)="close()">Close</button>
</mat-dialog-actions>